@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$TittleFont: "Poppins", sans-serif;

:root {
  font-family: "Inter", sans-serif;
  font-weight: 400;

  background-color: #0e0e0e;
  color-scheme: dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.titleWidthSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  background-color: #141519;

  h1 {
    margin-bottom: 0.5rem;
    font-family: $TittleFont;
    font-weight: 500;
    font-size: 3rem;
    text-wrap: nowrap;
  }

  .search {
    position: relative;
    align-self: flex-end;
    margin-bottom: 1rem;
  }

  i {
    position: absolute;
    right: 5px;
    top: 6px;
    font-size: 1.2rem;
    color: gray;
    cursor: pointer;
  }

  &:focus-within {
    i {
      user-select: none;
      color: white;
    }
  }

  input {
    font-size: 1.4rem;
    padding-right: 30px;
    padding-left: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding-bottom: 0.5rem;

    &:focus {
      outline: none;
      border-bottom: 1px solid #bf3d3d;
    }
  }
}

.titleWithBackButton{
  display: flex;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  background-color: #141519;

  h1 {
    margin-bottom: 0.5rem;
    font-family: $TittleFont;
    font-weight: 500;
    font-size: 3rem;
    text-wrap: nowrap;
  }

  i {
    user-select: none;
    background-color: #232323;
    border-radius: 50px;
    padding: 0.5rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
    font-size: 3rem;
    color: #c2c2c2;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover{
      background-color: #303030;
    }
  }

  button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #232323;
    border: none;
    padding: 0.5rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover{
      background-color: #303030;
    }

    i{
      padding: 0;
      margin: 0;
      border-radius: 0;
      background-color: transparent;
      color: rgb(196, 8, 8);

      &:hover{
        background-color: transparent;
      }
    }
  }
}

.dropzone_images {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
  align-items: center;
  margin-right: 2rem;

  .add {
    width: 500px;
    height: 350px;
    margin-bottom: 1rem;
    border: 2px dashed #a7a7a7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #a7a7a7;
    position: relative;

    @media (min-width: 1510px) {
      width: 600px;
    }

    i {
      font-size: 5rem;
    }

    h2 {
      font-weight: 500;
      font-size: 1.5rem;
    }

    h3 {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      font-weight: 600;
      font-size: 1.17rem;
      border: 3px solid #256dbf;
      border-radius: 5px;
      padding: 1rem;
      color: #256dbf;
    }

    .dropzone {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    &.isDragActive {
      border: 2px dashed #ebeaea;
      color: #ebeaea;
    }
  }

  .background {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .images_list {
    display: flex;
    width: 500px;
    overflow: auto;
    align-items: center;

    @media (min-width: 1510px) {
      width: 600px;
    }
  }

  .images {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;

    .image {
      position: relative;
      width: 200px;
      height: 200px;
      background-color: #bf3d3d;
    }

    i {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 1.8rem;
      cursor: pointer;
      padding: 0.5rem;
      padding-top: 0.3rem;
      padding-bottom: 0.2rem;
      background-color: #0e0e0e6a;
      border-radius: 50px;
    }

    img {
      height: 200px;
      width: 200px;
    }
  }
}

.modal_loader {
  background-color: #0000004f;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;

  .sk-chase {
    width: 100px;
    height: 100px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }

  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
  }

  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: crimson;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
  }

  .sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
  }

  .sk-chase-dot:nth-child(2) {
    animation-delay: -1.0s;
  }

  .sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
  }

  .sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
  }

  .sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
  }

  .sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
  }

  .sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
  }

  .sk-chase-dot:nth-child(2):before {
    animation-delay: -1.0s;
  }

  .sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
  }

  .sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
  }

  .sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
  }

  .sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
  }

  @keyframes sk-chase {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes sk-chase-dot {

    80%,
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4);
    }

    100%,
    0% {
      transform: scale(1.0);
    }
  }
}

.confirm_windows {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #00000065;
  backdrop-filter: blur(8px);
  z-index: 10;

  h3:nth-child(1) {
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    max-width: 600px;
    background-color: #0e0e0e;
    color: white;
  }

  .confirm_buttons {
    display: flex;
    gap: 1rem;

    button {
      margin-bottom: 5rem;
      width: 200px;
      font-size: 1.4rem;
      padding: 0.5rem;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:nth-child(1) {
      background-color: crimson;
    }

    button:nth-child(2) {
      background-color: #256dbf;
    }
  }
}

.menu_title{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;

  h1{
    user-select: none;
    font-size: 4.5rem;
    color: gray;
  }
}